#app-footer-container {
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
  align-items: center;
  height: 10vh;
  max-height: 85px;
  border-bottom: 1px solid rgb(144, 144, 144);
}

#app-footer-container div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app-footer-container div p {
  font-size: 1.1rem;
}
