#app-header-container {
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
  align-items: center;
  min-height: 10vh;
  border-bottom: 1px solid rgb(144, 144, 144);
}

#header-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#app-header-container h1 {
  font-size: 1rem;
}

#app-header-container ul li a {
  color: rgb(205, 212, 216);
  text-transform: uppercase;
  line-height: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#app-header-container ul li a:hover {
  color: rgb(150, 145, 145);
}

@media (min-width: 750px) {
  #app-header-container h1 {
    font-size: 1.7rem;
  }
}
